<div class="profile-card">
  <div class="avatar-name">
    <img [ngSrc]="profile().avatarUrl | avatarUrl" alt="avatar" class="profile-card__avatar" height="71" width="71">
    <div class="profile-card__name">
      <h6>{{ profile().firstName }} {{ profile().lastName }}</h6>
      <span class="subtitle">{{ profile().username }}</span>
    </div>
  </div>

  <div class="profile-card__description">
    {{ profile().description }}
  </div>

  <div class="profile-card__tags">
    @for (stack of profile().stack; track stack) {
      <div class="skill-tag">{{ stack }}</div>
    }
  </div>

  <div class="profile-card__action-button">
    <button>Подписаться</button>
  </div>
</div>
