.profile-card {
  border: 1px solid var(--light-color);
  padding: 32px 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr) auto;
  grid-gap: 32px;
}

.avatar-name {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-gap: 20px;
}

.profile-card__avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-card__name {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.profile-card__tags {
  display: flex;
  gap: 4px;
  align-items: center;
  flex-wrap: wrap;
  height: min-content;
}

