<img class="avatar" [ngSrc]="preview()" alt="avatar" height="132" width="132"/>

<div
  appDnd
  (fileDropped)="onFileDropped($event)"
  class="dropzone"
  tabindex="0"
  (keyup.enter)="fileDrop.click()"
  (click)="fileDrop.click()">
  <div class="dropzone-content">
    <app-svg-icon icon="dropdown" [width]="18" [height]="13"/>
    <span class="medium-text">Перетащите изображение или Загрузите</span>
  </div>
  <input
    tabindex="-1"
    class="avatar-input"
    type="file"
    #fileDrop
    (change)="fileBrowserHandler($event)"/>
</div>
