.profile-page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
}

.to-setting-btn {
  width: 190px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile-page__body {
  padding-top: 24px;
  display: grid;
  grid-gap: 64px;
  grid-template-columns: 1fr 350px;
}

.subscribers-wrapper {
  display: flex;
  grid-gap: 6px;
  align-items: center;
  flex-wrap: wrap;
}

.subscriber-avatar-img {
  border-radius: 50%;
}

.subscribers-wrapper__link {
  height: inherit;
  display: flex;
  align-items: center;
}

.subscribers-wrapper__plus {
  color: var(--light-color);
}

.stack-wrapper {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}
