:host {
  display: grid;
  grid-gap: 48px;
  grid-template-columns: 322px 1fr;
}

.profile-form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
  border: 1px solid var(--light-color);
  background-color: var(--dark-color);
  height: calc(100dvh - (24px * 2));
}

.profile-form {

  display: grid;
  grid-gap: 20px;
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

