:host {
  display: block;
  padding: 20px 12px;
}

.main-menu-list {
  display: grid;
  grid-gap: 8px;
  list-style: none;
}

.menu-item {
  padding: 16px 12px;
  border: none;
  background-color: transparent;
  color: var(--light-color);
  display: grid;
  grid-template-columns: 16px 1fr max-content;
  grid-gap: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-align: left;
  border-radius: 4px;

  &:hover,
  &:focus-visible {
    background-color: var(--dark-hover-color);
    color: var(--primary-clor);
  }
}

.to-subscribers {
  display: flex;
  gap: 10px;
  align-items: center;
}

.to-subscribers-link {
  color: var(--primary-clor);
  text-decoration: none;
}

.to-subscribers-icon {
  color: var(--primary-clor);

}
