<img class="ml16 mb20" ngSrc="images/logo-small.svg" alt="logo-small" height="74" width="61" priority/>

<nav class="mb20">
  <ul class="main-menu-list">
    @for (li of menuItems(); track li.link) {
      <li>
        <button class="menu-item" [routerLink]="li.link">
          <app-svg-icon [icon]="li.icon"/>
          <span>{{ li.label }}</span>
        </button>
      </li>
    }
  </ul>
</nav>

<p class="medium-text mb20">Подписчики</p>

@for (subscriber of subscribers()?.items; track subscriber.id) {
  <app-subscriber-preview [profile]="subscriber"/>
}


<div class="mt20 to-subscribers">
  <a class="to-subscribers-link medium-text" [routerLink]="['/subscribers']">Все подписчики</a>
  <app-svg-icon icon="arrow" class="to-subscribers-icon"/>
</div>

<footer class="sidebar__footer">
  <img [ngSrc]="user()?.avatarUrl | avatarUrl" alt="user-avatar"
       [width]="32" [height]="32" priority/>
  <div class="medium-text username-text">{{ user()?.username }}</div>
  <a [routerLink]="['/settings']">
    <app-svg-icon icon="settings" [width]="14" [height]="14" />
  </a>
</footer>
