<div class="profile-card">
  <div class="avatar-name">
    <img src="/images/avatar.svg" alt="avatar" class="profile-card__avatar">
    <div class="profile-card__name">
      <h6>Райан Гослинг</h6>
      <span class="subtitle">ryan.gosling</span>
    </div>
  </div>

  <div class="profile-card__description">
    Список навыков, который мы обсудили выше, — основа резюме, но не единственная его часть. Также можно рассказать
    о себе в классическом смысле — этот раздел можно добавить в сопроводительное письмо.
  </div>

  <div class="profile-card__tags">
    <div class="skill-tag">Angular</div>
    <div class="skill-tag">HTML</div>
    <div class="skill-tag">CSS</div>
    <div class="skill-tag">TS</div>
  </div>

  <div class="profile-card__action-button">
    <button>Подписаться</button>
  </div>
</div>
