@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/webfonts/JetBrainsMono-Medium.woff2");
}

@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/webfonts/JetBrainsMono-Thin.woff2");
}

@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/webfonts/JetBrainsMono-SemiBold.woff2");
}

@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 800;
  src: url("/assets/fonts/webfonts/JetBrainsMono-Bold.woff2");
}
