@import "fonts.css";
@import "margins.css";

:root {
  --dark-clor: #000000;
  --light-color: #FFFFFF;
  --primary-clor: #AE7AFF;
  --gray-color: #5F646D;
}

body {
  background-color: var(--dark-clor);
  color: var(--light-color);
  font-family: 'JetBrains Mono', monospace;
  background-image: url("/images/background.svg");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 800;
}

h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

button {
  background-color: var(--primary-clor);
  color: var(--dark-clor);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--light-color);
}

.subtitle {
  font-size: 14px;
  line-height: 20px;
}

.tt-control-label {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  display: block;
}

.tt-input {
  display: block;
  margin-top: 8px;
  width: 100%;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  padding: 12px 20px;
  background: var(--dark-clor);
  color: var(--light-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.btn-shadow {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: -4px;
    right: -4px;
    background: var(--gray-color);
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 4px;
  }
}
