@import "text.css";
@import "margins.css";

:root {
  --dark-color: #000000;
  --light-color: #FFFFFF;
  --primary-clor: #AE7AFF;
  --gray-color: #5F646D;
  --dark-hover-color: #161616;
  --light-transparent-color: #FFFFFFBF;
}

router-outlet {
  display: none; /* router-outlet сам не рендерится */
}

body {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: 'JetBrains Mono', monospace;
  background-image: url("/images/background.svg");
  height: 100dvh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary-clor);
  text-decoration: none;
}

button, .btn {
  background-color: var(--primary-clor);
  color: var(--dark-color);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--light-color);
}

.tt-input {
  display: block;
  margin-top: 8px;
  width: 100%;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  padding: 12px 20px;
  background: var(--dark-color);
  color: var(--light-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.btn-shadow {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: -4px;
    right: -4px;
    background: var(--gray-color);
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 4px;
  }
}

.skill-tag {
  padding: 4px 8px;
  border-radius: 2px;
  border: 1px solid var(--light-color);
  display: inline;
  font-size: 12px;
  font-weight: 700;
  height: 24px;
}

.tt-form-label {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tt-form-label__text {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: var(--light-transparent-color);
}

.tt-form-input {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  border: none;
  border-bottom: 1px solid var(--light-color);
  height: 33px;
  background: none;
  color: var(--light-color);

  &:focus {
    outline: 1px solid var(--primary-clor);
    border: none;
  }
}

.tt-form-textarea {
  height: 84px;
  resize: none;
}
