@import "fonts.css";

:root {
  --dark-clor: #000000;
  --light-color: #FFFFFF;
  --primary-clor: #AE7AFF;
}

body {
  background-color: var(--dark-clor);
  color: var(--light-color);
  font-family: 'JetBrains Mono', monospace;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

button {
  border: none;
  background-color: var(--primary-clor);
  color: var(--dark-clor);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
}

.subtitle {
  font-size: 14px;
  line-height: 20px;
}
