@import "fonts.css";

button,
input,
select,
textarea {
  font-family: inherit;
}

h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 800;
}

h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.medium-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.subtitle {
  font-size: 14px;
  line-height: 20px;
}

.tt-control-label {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  display: block;
}
